/* CUSTOM */
/* General */
html {
    box-sizing: border-box;
}
/* Navigation */
.navbar {
    border-bottom: 3px solid rgb(3, 231, 3);
    opacity: .7;
}
/* Home Section */
#home-section {
    background: url('../img/yoga.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.dark-overlay {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}
.home-inner {
    padding-top: 150px;
}

@media (max-width: 992px) {
    .home-inner {
        padding-top: 100px;
    }
}