/* CUSTOM */
/* General */
html {
    box-sizing: border-box;
}
/* Navigation */
.navbar {
	border-bottom: 3px solid rgb(3, 231, 3);
	background-color: rgba(0,0,0,.7) !important;
    /* opacity: .7; */
}
.navbar-white, .navbar-nav .nav-link {
	color: rgba(255,255,255,1) !important;
}
li.nav-item.text-uppercase {
	background-color: none;
	transition: 0.3s all ease-in;
}
li.nav-item.text-uppercase:hover {
	background-color: rgba(3,231,3,1) !important;
	border-radius: 3px;
}
/* Home Section */
#home-section {
    background: url('../img/yoga.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.dark-overlay {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}
.home-inner {
    padding-top: 150px;
}

@media (max-width: 992px) {
    .home-inner {
        padding-top: 100px;
    }
}